:root {
	--primary-light: #fefefe;
	--primary-dark: #1f2937;
}
html,
body {
	background-color: #81d8d0 !important;
}
.container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.outputContainer {
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: end;
	height: 10rem;
	width: 20rem;
	background-color: black;
	/* border-radius: 0.5rem; */
}
.output__previous,
.output__current {
	color: white;
	font-size: 3rem;
}
.buttonContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 20rem;
	/* border: 1px solid black; */
	/* width: 20rem; */
}
button {
	padding: 0 !important;
	border: none;
	/* border-radius: 0.5rem !important; */
}
.button__double {
	height: 5rem;
	width: 10rem !important;
}
.button__single {
	height: 5rem;
	width: 5rem !important;
}
.button--grey {
	background-color: lightgrey;
}
.button--grey:hover {
	background-color: darkgrey;
}
.button--red {
	background-color: darkred;
}
.button--red:hover {
	background-color: maroon;
}
.button--orange {
	background-color: orange;
}
.button--orange:hover {
	background-color: darkorange;
}
.footerContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	position: absolute;
	bottom: 0;
	color: var(--primary-light);
	text-shadow: rgba(0, 0, 0, 0.24) 0px 10px 8px;
}
.footer__link {
	color: var(--primary-light);
}
